body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-image: url(hero\ 1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

h1{
    margin-top: 6.75rem;
    margin-bottom: 10px;
}

h2{
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button{
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    cursor: pointer;
}

#increment-btn{
    background-color: darkred;
    margin-bottom: 20px;
}

#decrement-btn{
    background-color: darkgreen;
    margin-bottom: 20px;
}

#save{
    background-color: peru;
    margin-bottom: 20px;

}

#reset{
    color:black
}

p{
    font-size: 1.5rem;
}

.show{
    display: none;
}

/* .open2{
    display: none;
} */

.show2{
    display: block;
}